#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install VNC
Exec=curl -sSL https://raw.githubusercontent.com/dsoms/steam-deck-utils/main/VNC/install.sh | bash
Icon=steamdeck-gaming-return
Terminal=true
Type=Application
StartupNotify=false
